.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.text-container {
  height: 100vh;
  width: 15vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-family: 'cascadia mono';
  font-weight: bold;
}

.triangle-container{
  width: 99vmin;
  margin: auto;
  text-align:center;
  position: absolute;
  z-index: 0;
  // border: 1px solid white;
  
  .triangle{
    transform: rotate(-180deg); 
  }

  
  .triangle{
    fill: transparent;
    stroke: #458885;
    stroke-width: 10;
    transition: all 0.8s ease-in-out;
    transform-origin: 275px 275px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
  color: #FBF1C7;
  transition: .5s;
}

a :hover{
  text-decoration: none;
  color: #989898;
  transition: .5s;
}

a :active{
  text-decoration: none;
  color: #282c34;
  transition: 5s;
}
